.mainContentContainer {
  width: 100%;
  max-width: 1172px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 38px;
}

.title {
  font-size: 58px;
  text-transform: uppercase;
  background-image: linear-gradient(-90deg, #ff3f04, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-weight: 500;
  padding-top: 81px;
}

.subtitle {
  font-size: 25px;
  background-image: linear-gradient(-90deg, #ff3f04, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 16px 0 92px;
}

.titlesWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  width: 180px;
  height: 35px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Museo Sans Cyrl";
  font-weight: 500;
  font-size: 14px;
  border: 1px solid transparent;
  background-image: url(../../images/button-frame.svg);
  background-position: center;
  cursor: pointer;
}

.cards {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 381px;
}

.cardsItem {
  width: 185px;
  height: 185px;
  margin-right: 11px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.031);
  text-align: center;
  font-family: "Museo Sans Cyrl";
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 38px 0 0;
}

.cardsItem:last-of-type {
  margin-right: 0;
}

.cardsItem:nth-of-type(2n) {
  margin-right: 0;
}

.cardsItem:hover {
  cursor: pointer;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    to bottom right,
    rgba(152, 147, 147, 0) 0%,
    rgba(2152, 147, 147, 0.06) 100%
  );
  box-sizing: border-box;
}

.factWrapper {
  font-size: 60px;
  color: #ffffff;
}

.cardsDesc {
  color: #ffffff;
  margin: 0;
}

.arrow {
  position: absolute;
  right: -37.7%;
  top: 320px;
}

@media screen and (max-width: 1279px) {
  .mainContentContainer {
    max-width: 1000px;
    justify-content: space-around;
  }

  .title {
    padding-top: 61px;
    font-size: 45px;
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 177px;
  }

  .arrow {
    width: 257px;
    right: -31.7%;
    top: 352px;
  }

  .cardsItem {
    width: 145px;
    height: 145px;
    padding-top: 24px;
    font-size: 16px;
  }

  .cards {
    justify-content: flex-end;
    padding-top: 30px;
  }

  .factWrapper {
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .mainContentContainer {
    max-width: 700px;
    justify-content: space-between;
  }

  .cards {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 0;
  }

  .cardsItem {
    margin-right: 0;
    margin-bottom: 0;
    margin-bottom: 5px;
  }

  .arrow {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mainContentContainer {
    max-width: 320px;
    flex-direction: column;
    margin-top: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  .title {
    padding-top: 10px;
    font-size: 32px;
  }

  .titlesWrapper {
    align-items: center;
  }

  .subtitle {
    margin-bottom: 10px;
  }

  .cards {
    padding-top: 10px;
    align-items: center;
  }
}
